@CHARSET "UTF-8";
.rowDiv
	{
		width:100%;
		margin:0 auto;
	}
	.divpie
	{
		width: 100%;
		height:450px;
	}
	.divmap
	{
		width:100%;
		height:450px;
	}
	.spanBorder
	{
		border-style:solid;
		border-color:#d5d5d5;
		box-shadow:2px 2px 2px 0 #d5d5d5;
	}
	